<!DOCTYPE html>
<html>
<head>
    <title>Notes</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="dropdown">
                <button id="drop-down" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Menu
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><form ng-submit="vm.redirectCreateNote()">
                        <button type="submit" class="btn btn-link btn-primary">Add note</button>
                    </form></li>
                    <li><form ng-submit="vm.logout()">
                        <button type="submit" class="btn btn-link btn-logout">Logout</button>
                    </form></li>
                </ul>
            </div>
            <br/>
            <h1>Notes</h1>
            <div class="list-group">
                <a ng-repeat="note in vm.noteList" class="list-group-item clearfix">
                    <span id="show-note" class="btn btn-xs btn-default" ng-click="vm.redirectShowNote(note)">{{note.title}}</span>
                    <span class="pull-right">
                        <!--span class="btn btn-xs btn-default" ng-click="vm.redirectShowNote(note)">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </span-->
                        <span id="edit-image" class="btn btn-xs btn-default" ng-click="vm.redirectEditNote(note)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </span>
                    </span>
                    <span class="pull-right">
                        <span id="delete-image" class="btn btn-xs btn-default" ng-click="vm.deleteNote(note)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>